</br>
</br>
</br>
</br>
<% if user_signed_in? %>
 <% if current_user.admin %>
 <div class="container">
  <h2>TOOLS</h2>
  <div class="list-group">
  <div class="list-group-item">
   <h4 class="list-group-item"><%= link_to 'Categories', categories_path %>
    <p class="list-group-item-text">Work with categories</p>
   </div>
    <div class="list-group-item">
      <h4 class="list-group-item"><%= link_to 'Forums', forumtools_path %>
      <p class="list-group-item-text">Work with forums</p>
    </div>
   <div class="list-group-item">
      <h4 class="list-group-item"><%= link_to 'Groups', users_path %>
      <p class="list-group-item-text">Work with groups</p>
    </div>
	 <div class="list-group-item">
      <h4 class="list-group-item"><%= link_to 'Topics', indextopic_path %>
      <p class="list-group-item-text">Work with topics</p>
    </div>
  </div>
</div>
<% else %>
 <p class="Access denied</p>
<% end %> 
<% else %>
 <h1="Access denied</h1>
<% end %> 