</br>
</br>
</br>
</br>
<div class="container">
    <div class="users row">
        <% @users.each do |user| %>
        <div class="panel panel-default">
            <%= link_to user_path(user) do %>
            <div class="panel-body">
                <%= image_tag(user.avatar.url(:medium),:size => "150") %>
                <p><%= user.name %></p>
            </div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>

    