.users.row {
    -moz-column-width: 15em;
    -webkit-column-width: 15em;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
}

@media (min-width: 992px) {
    .users.row {
        -moz-column-width: 13.5em;
        -webkit-column-width: 13.5em;
    }
}


// users index

.feed {
    width: 100%;
    text-align: center;
}

.panel {
    display: inline-block;
    padding:  0;
    margin:  0 0 10px 0;
    width:98%;
    img { width: 100%; }
}

    // users show

.profile {
    text-align: center;
    .avatar { max-width: 100%; }
    ul {
        list-style: none;
        padding: 0;
    }
}

.users .panel-body {
    padding: 0;
    p {
        margin: 10px;
        overflow-x: scroll;
    }
   &:hover {
        background-color: #fcfcfc;
        box-shadow: 0 0 3px #b7b7b7;
    }
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

